# Data
data/
cifar-10-batches-py/
cifar-10-python.tar.gz

# Logs
logs/
logs_2/
generalization/logs_2/

# Files
*.pdf
images/
.vscode/
.DS_Store
wandb/
artifacts/

# Python
__pycache__/
dist/
build/
*.egg-info/
*.ipynb
scratch*
viz.py
tests/
